:root {
    --black-color: #1d1d1d;
    --red-color: #A30900;
    --grey-color: #8A8A8A;
    --white-color: #E2E2E2;
   --blue-color: #256A6F;
}

/* tagok k치rty치i*/

.card-container{
    display: flex;
    height: auto;
    flex-wrap:wrap;
    justify-content: space-between;
}

.card-content{
  /* margin between content and side*/
  display: block;
  margin: 10px;
  height: calc(100% - (10px) * 2);
  font-size: 100%;
}

.card{
    flex-basis: calc(25% - 3vh); 
    margin: 1vh;
    background-color: var(--red-color);
    aspect-ratio: 2/3;

    color: var(--white-color);

    border-radius: 1.5vh;

    transition: all 0.5s;
}

.card-container:hover > *:not(:hover) {
  transform: scale(0.96);
  filter: blur(10px);
}

  
@media (max-width: 768px) {
    .card {
      flex-basis: calc(50% - 3vh); /* Two cards per row on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    h#mentor{
      font-size: 180%;
    }

    .card {
      flex-basis: calc(100% - 3vh); /* One card per row on even smaller screens */
    }
  }

/* mentorok k치rty치i*/
.flip-container {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
}

.flip {
  display: block;

  flex-basis: 50vh;
  height: 50vh;
  width: 200px;
  margin: 10vh;
  background-color: var(--red-color);
  color: var(--white-color);
  border-radius: 1.5vh;
  transition: all 0.5s;


  text-align: center;
}

.flip-content {
  margin: 10px;
  font-size: 130%;
  margin-top: 50%;

  background-color: pink;
}

h{
  text-align: center;
  display: block;
  width: 100%;
  margin: 25px 0;
  font-size: 220%;
}