:root {
    --black-color: #1d1d1d;
    --red-color: #A30900;
    --grey-color: #8A8A8A;
    --white-color: #E2E2E2;
   --blue-color: #256A6F;
}

.card-container{
    display: flex;
    height: 40vh;
    flex-wrap:wrap;
    justify-content: space-between;
}

.card{
    flex-basis: calc(25% - 3vh); 
    margin: 1vh;
    background-color: #A30900;
}
  
@media (max-width: 768px) {
    .card {
      flex-basis: calc(50% - 3vh); /* Two cards per row on smaller screens */
    }

    .card-container{
        height: 80vh;
    }
  }
  
  @media (max-width: 480px) {
    .card {
      flex-basis: calc(100% - 3vh); /* One card per row on even smaller screens */
    }

    .card-container{
        height: 160vh;
    }
  }