h1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: white;

    position: fixed; /* make sure it stays put so we can see it! */
    display: block;
    width: 100%;
    text-align: center;

    animation: sizeMainTitle 1.001s ease-in infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}


@keyframes sizeMainTitle{
    0%{
        top: 50%;
        transform: translateY(-100%);
        font-size: 30vh;
    }
    25% {
        top: 0%;
        transform: translateY(0);
        font-size: 0;
    }
    100% {
        top: 0%;
        transform: translateY(0);
        font-size: 0;
    }
}

#wrapper {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: white;

    left: 25%;
    position: fixed;

    animation: sizeAbout 1.001s ease-in infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes sizeAbout{
    0%{
        top: -100%;
        transform: translateY(0) scale(0);
    }
    25% {
        top: 0%;
        transform: translateY(0) scale(1);
    }
    50%{
        top: 50%;
        transform: translateY(0) scale(1);
    }
    100% {
        top: 200%;
        transform: translateY(0) scale(0);
    }
}


@keyframes bgColor{
    0%{
        background-image: linear-gradient(0deg, rgb(228, 96, 35), rgb(69, 69, 221));
    }
    100% {
        background-image: linear-gradient(360deg, rgb(228, 96, 35), rgb(69, 69, 221));
    }
}

body{
    min-height: 1000vh;

    
    animation: bgColor 1.001s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}