/* declare color variables */
:root {
    --black-color: #1d1d1d;
    --red-color: #A30900;
    --grey-color: #8A8A8A;
    --white-color: #E2E2E2;
   --blue-color: #256A6F;
}

/* make flexbox */
body {
    color: var(--blue-color);

    font-family: 'Roboto', sans-serif;

    font-size: xx-large;

    padding: 0%;
    margin: 0%;
}

#container {
    display: flex;
    flex-direction: column;


    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

#top {
    background-color: var(--white-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex: 0 0 auto;
    width: 100%;
    height: 12vh;

    overflow: hidden;

    padding: 0;

}

#content {
    background-color: var(--black-color);

    flex: 1;
    width: 100%;
    max-height: calc(100vh - 12vh);

    overflow: scroll;

}

/* ------------ */
/* top bar */
a[title~="link"] {
    text-decoration: none;
    color: inherit;

    display: inline-block;

    transition: all 0.3s;

    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;

    transform: scale(1);

    
}

a[title~="link"]:hover{
    background-color: var(--grey-color);

    transform:scale(1.2);

    color: var(--red-color);
}

#contact{
    height: 100%;

    text-align: center;

    flex: 0.7;
    
}


#otherPages {
    height: 100%;

    text-align: center;
    flex: 4;
}


#logo {
    height: 100%;

    flex: 1;

    background-image: url("/images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size:contain;

    width: 15vh;
    height: 15vh;

    display: block;



}

#githubLogo{
    transform: scale(0.6) translateY(-50%) translateX(-150%);
    position: absolute;

}

#otherPages, #contact{
    transform: translateY(30%);
}


/* end of top bar */


#content-placeholder {
    margin: 5px 10px;
}
