/* declare color variables */
:root {
    --black-color: #1d1d1d;
    --red-color: #A30900;
    --grey-color: #8A8A8A;
    --white-color: #E2E2E2;
   --blue-color: #256A6F;
}

/* make flexbox */
body {
    color: var(--blue-color);

    font-family: 'Roboto', sans-serif;

    font-size: xx-large;

    padding: 0%;
    margin: 0%;
}

#container {
    display: flex;
    flex-direction: column;

    align-content: space-between;
    flex-grow: 1;

    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

#top {
    background-color: var(--white-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    flex: 0.1;
    width: 100%;

    overflow-y: hidden;

    margin: 0%;
    padding: 0%;
}

#content {
    background-color: var(--black-color);

    flex: auto;
    width: 100%;

    overflow-y: scroll;
}

/* ------------ */
/* top bar */
a {
    text-decoration: none;
    color: inherit;

    display: inline-block;

    transition: all 0.3s;

    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;

    transform: scale(1);

    
}

a:hover{
    background-color: var(--grey-color);

    transform:scale(1.2);

    color: var(--red-color);
}

#logo{
    
    height: 100%;

    text-align: center;

    flex: 1;
}

#contact{
    height: 100%;

    text-align: center;

    flex: 0.7;
}


#otherPages {
    height: 100%;

    text-align: center;
    flex: 4;
}

#logo {
    background-image: url("/images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size:contain;

    width: 15vh;
    height: 15vh;

    position: absolute;
}

#githubLogo{
    transform: scale(0.5) translateY(-60%) translateX(-25%);
    position: absolute;

}





